html,body{
  margin: 0;
  height: 100%;
}

.img1{
  background-image: url(image1.jpg);
  min-height: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.img2{
  background-image: url(image2.jpg);
  min-height: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.text1{
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  color: black;
  font-size: 30px;
}
.textbg{
  background-color: #313534;
  padding: 20px;
}
.section{
  text-align: center;
  padding: 50px;
  background-color: #282e34;
  color: white;
}